*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("backgroundimage3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 1px solid #009688;
    border-radius: 5px;
}
input{
    margin: 5px 0px;
    height: 35px;
    padding: 7px;
}
button{
    height: 35px;
    margin: 5px 0px;
    background-color: #009688;
    border: none;
    border-radius: 5px;
    color: #333;
    
}
button:hover{
    background-color: #333;
    color: #009688;
}